<!DOCTYPE HTML>
<head>
<script type='text/javascript' src='/static/rdkit.js'></script>
<script>
function molwt( smi ){
	var mol = RDKit.Molecule.fromSmiles( smi );
	var mw = mol.getMW();
	document.getElementById( 'molwt' ).innerHTML = 'molweight===>>>'+ '  '+ mw;
}

function moldraw( smi ){
	var mol = RDKit.Molecule.fromSmiles( smi );
	var mol2d = mol.Drawing2D();
	var remol = mol2d.replace( /svg:/g, '' );
	document.getElementById( 'molimage' ).innerHTML = remol;
}

</script>

</head>
<body>
<h>rdkitjs test</h><br><br>

<form name='chemo'>
    Input smilestrings;<br> 
    	<textarea name='smi'></textarea>
    input smiles<br><br>
    	<input name='calc' value='cal' type='button' onClick='molwt( document.chemo.smi.value )'><br><br>
    show mol<br>
    	<input name='getimage' value='mouseover' type='button' onMouseover='moldraw( document.chemo.smi.value )'>
</form>

<div id='molwt'></div><br>
<div id='molimage'></div><br>


</body>
</html>